.reveal .progress { height: 10px;}
img.no-border{border: none !important;}
blockquote:before {
  content: '“';
}
blockquote:after {
  content: '‟';
}
code {
    font-size: 0.85em !important;
}

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
}
.present > blockquote::after {
    content: attr(cite);
    display: block;
    font-size: 60%;
}
.reveal section img::after {
    content: attr(alt);
    display: block;
    font-size: 70%;
}
.reveal ul {
    list-style-type: none;
}
